@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-family:"微软雅黑"; width:1300px;}
.top{ background-color:#333333; height:60px; background-image:url(../img/logo.png); background-repeat:no-repeat; background-position:30px; overflow:hidden;}
.top li{ float:right; margin-right:30px;}
.top li a{ color:#FFFFFF; font-size:12px; text-decoration:none;}
.main{ background-color:#DEDEDE; overflow:hidden;} 
.div1,.div2,.div3,.div4,.div5{ background-color: #FFFFFF; width:1210px; margin: 20px auto; padding: 40px 20px; box-shadow:2px 2px 5px #838383; -moz-box-shadow:2px 2px 5px #838383; -webkit-box-shadow:2px 2px 5px #838383;
}
p{ text-indent:2em; font-size:15px;}
span,h4{ color:#6A6965;}
.div2 li{ list-style-type:none;}
.div3 li{ list-style-type:none; border:1px solid #CECECE; width:120px; height:125px; margin:10px 0;}
.div3 li p{ font-size:12px; margin-top:2px;}
.div3 li img{ margin-left:10px; margin-top:-5px;}
.div4 p{ text-indent:0;}
.div4 table{ border-collapse:collapse; text-align:left;}
.listop{ background-color:#333333; color:#FFFFFF;}
.lisbottom{ background-color:#CCCCCC; font-weight:500;}
th,td{ border:1px solid #CCCCCC;}
.div5 h3{ display:block; border-left:4px solid #CCCCCC; height:40px; line-height:40px; padding-left:20px;}
.push{ width:1200px; height:40px; border-radius:5px; background-color:#3355D0; color:#FFFFFF; font-size:18px;}
.inp{ width:400px; height:100px;}
.div5 p{ color:#6A6965; text-align:center;}
.inps,.tips{ display:block; width:120px; text-align:right; margin-left:400px; margin-right:10px; float:left;}
.footer{ height:70px; background-color:#000000; color:#FFFFFF; line-height:70px; text-align:center;}




